<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사진누르면 페이지 넘어가기</title>
</head>
<body>
<a href="index.html" class="photo">
    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTAzMjhfMjUz%2FMDAxNjE2OTM1MTg0MDQ4.d-vB0RE_HXtwg3-ShAINiFo7NOpxUUv7SuWJwOlrjNog.cLFbhRLDx8ctUUgYR4lEwpmAla57VmhL9h9R2zxJ1gAg.JPEG.ghdrl7979%2Ftumblr_0a9f6192bfcba2a74d8b0864260d9c28_67d46b7e_1280.jpg&type=sc960_832">
</a>
할만한 사진이 없어서 이걸로 했어요
</body>
</html>